<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div id="vueApp">
    <h1>Belajar {{subject}}</h1>
    <p>Materi : {{materi}}</p>
    <input type="text" v-model="name">
    <input type="text" v-model="age">

    <p>Namanya {{name}}, Umurnya {{age}} {{expression}}</p>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const sample={
        data(){
            return {
                subject:"Vue JS",
                materi:"Computed Properties",
                name:"Fajar",
                age:19
            }
        },
        computed:{
            expression(){
                if(this.age > 40){
                    return " tua sekali!"
                }else{
                    return " masih muda cuy~"
                }
            }
        }
    }
    Vue.createApp(sample).mount("#vueApp")
</script>
</body>
</html>